@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    padding: 4px;
}

.section-one {
    padding-left: 92px;
    padding-right: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.section-one > .links > ul {
    display: flex;
    list-style-type: none;
}

.section-one > .links > ul > li > a {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}

.logo > p {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}


