@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    /* I used these two properties as I saw them in
       some of the flexbox excercises and they seem
       helpful. In particular margin: 0 */
    margin: 0;
    min-height: 100vh;

    font-family: Roboto, sans-serif;
}

.section-one {
    padding-top: 16px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 82px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between; 
}

.logo-text {
    display: flex;
    margin-top: auto;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav  > ul {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4px;
    list-style-type: none;
}

.nav-links {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.hero-text {
    margin: 8px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-description {
    margin: 0px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.hero-button {
    margin: 0px;
    padding: 12px;
    border-radius: 8px;
    border: 0px;
    align-self: flex-start;
    background-color: #3882F6;
    color: #e5e7eb;
}

.hero-image {
    width: 280px;
    height: 265px;
    padding-right: 8px;
}

.section-two {
    padding-top: 32px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
}

.section-two-header {
    display: flex;
    justify-content: center;
}

.information-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-grid {
    display: flex;
    justify-content: space-evenly;
}

.card-one, .card-two, .card-three, .card-four, 
.card-img-one, .card-img-two, .card-img-three, .card-img-four, 
.card-one-text, .card-two-text, .card-three-text, .card-four-text {
    width: 165px;
    height: 150px;
}

.card-one, .card-two, .card-three, .card-four,
.card-img-one, .card-img-two, .card-img-three, .card-img-four {
    border-radius: 8%;
}

.card-one, .card-two, .card-three, .card-four {
    border: 2px solid #3882F6;
}

.card-one-text, .card-two-text, .card-three-text, .card-four-text {
    color: #1F2937;
    text-align: center;
}

.card-grid-text {
    display: flex;
    justify-content: space-evenly;
}

.section-three {
    
}