@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    padding: 4px;
}

.section-one {
    padding-top: 16px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between; 
}

.logo-text {
    display: flex;
    margin-top: auto;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    /* padding-left: 12px; */
}
.nav  > ul {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4px;
    list-style-type: none;
}

.nav-links {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 8px;
    padding-right: 8px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;

}

.hero-text {
    display: flex;
    margin: 8px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-description {
    display: flex;
    margin: 0px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.hero-button {
    display: flex;
    margin: 0px;
    padding: 12px;
    border-radius: 8px;
    border: 0px;
    align-self: flex-start;
    background-color: #3882F6;
    color: #e5e7eb;
}

.hero-image {
    display: flex;
}

.hero-image > img {
    width: 300px;
    height: 265px;
    padding-right: 8px;
}

